[Desktop Entry]
Version=1.0
Type=Application
Name=LMS Sound Down
Comment=
Exec=/var/mnt/Data/Home/Documents/scripts/LMSVolDown
Icon=go-down
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///home/kevin/.local/share/applications/LMS%20Sound%20Down.desktop
