[Desktop Entry]
Version=1.0
Type=Application
Name=Toggle LMS
Comment=
Exec=/var/mnt/Data/Home/Documents/scripts/LMSToggle
Icon=accessories-media-converter
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///home/kevin/.local/share/applications/Toggle%20LMS.desktop
