[Desktop Entry]
Version=1.0
Type=Application
Name=LMS Sound up
Comment=
Exec=/var/mnt/Data/Home/Documents/scripts/LMSVolUp
Icon=go-up
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///home/kevin/.local/share/applications/LMS%20Sound%20up.desktop
